---
import ProjectItem from '@/components/ProjectItem.astro'
import { getCollection } from 'astro:content'

const projectCollection  = await getCollection("project");

---
<section class="project">
    <h2 class="project-header">Projects</h2>
    <div class="project-grid">
        {
            projectCollection.map((item,index) => {
            const { name, description, imgPath, technologies, link, repo } = item.data;

            return <ProjectItem 
                    index={index}
                    name={name}
                    description={description}
                    imgPath={imgPath}
                    technologies={technologies}
                    link={link}
                    repo={repo}
                    />
            })
        }
    </div>
</section>