---
import ProjectItem from '@/components/ProjectItem.astro'
import { getCollection } from 'astro:content'

const projectCollection  = await getCollection("project");

const { data } = projectCollection[0]
---
<section class="project">
    <h2 class="project-header">Projects</h2>
    <div class="project-grid">
        {data.projectList.map((item,idx) => <ProjectItem 
        index={idx}
        name={item.name}
        description={item.description}
        imgPath={item.imgPath}
        technologies={item.technologies}
        link={item.link}
        repo={item.repo}
        />)}
    </div>
</section>